*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;

}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;


}
nav{
	flex: 1;
	text-align: right;


}
nav ul{
	display:inline-block;
	list-style-type: none;


}
nav ul li{
	display: inline-block;
	margin-right: 20px
}
a{
	text-decoration: none;
	color: lightyellow ;
	transition: background 0.5s;
}
a:hover{
	background: #5634;
}
.container{
	max-width: 1300px
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}
.row{
	display: flex;
	align-items: left;
	flex-wrap: wrap;
	justify-content: space-between;
}
.col-2{
	flex-basis: 100%;
	min-width: 60px;

}
.col-2 img{
	height: 100%
	width: 500%
	padding: 50px;
	,margin: auto;
}
.col-2 h2{
	font-stretch: 25px;
	font-size: 50px;
	line-height: 60px;
	color:lightyellow; 
	margin: 25px ;
}

.btn{
	display: ruby-base;
	background: #40E0D0;
	color: lightyellow;
	padding: 8px 0px;
	margin: 10px  ;
	border-radius: : 10px ;
	transition: background 0.5s;

}
.head{
	background: radial-gradient(white,grey);
}
.head .row{

	margin-top: 70px;
}
.btn:hover{
	background: #5634;

}
.catagories{
	margin: 70px 0; 
}
.col-3{
	flex-basis: 25%;
	min-width:250px;
	margin-bottom: 300px;

}
.col-3 img{
	width: 100%;

}
.small-container{
	max-width: 1080px;
	margin:auto;
	padding-right:250px;
	padding-left:250px;

}
.col-4{
	padding:10px;
	min-width: 200px;
	margin-bottom: 5px;
	transition: transform 0.5s;

}
.col-4 img{
	width: 100%;
}
.col-4:hover{
	transform: translateY(-5px);
}